<div *ngIf="!editAdminStatus" class="edit text-center mt-5 d-flex flex-column  justify-content-center  align-items-center ">
    <img width="200px" height="200px" class="img-fluid  rounded" [src]='profilePicture' alt="">
     <button (click)="editAdminBtn()" class="btn btn-warning ">Edit Admin Details<i class="fa-solid fa-pen ms-2"></i></button>
</div>
<div *ngIf="editAdminStatus"  class="admin-details d-flex flex-column align-items-center justify-content-center w-100">
    <h3>Update Admin Details</h3>
    <label >
        <input (change)="getFile($event)" type="file" style="display: none;">
        <img width="150px" height="150px" class="img-fluid  rounded "[src]='profilePicture' alt="profile">
    </label>
    <input [(ngModel)]="adminDetails.name" type="text" placeholder="Admin Name" class="form-control mt-2 shadow  rounded ">
    <input [(ngModel)]="adminDetails.password" type="text" placeholder="Admin Password" class="form-control mt-2 shadow  rounded ">
    <div class="d-flex justify-content-evenly  mt-3 w-100">
        <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
        <button (click)="updateAdmin()" class="btn btn-warning ">Update</button>

    </div>

</div>