/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
*{   
    margin: 0px;
    padding: 0px;
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
}
::-webkit-scrollbar{
    display: none;
}

