<div class="container-fluid">
    <div class="row">
        <div *ngIf="sideBarStatus" style="height: 92vh; width: fit-content; background-color: #C7C8CC;" class="col-lg-2 d-flex  flex-column  p-5 shadow ">
         <a style="text-decoration: none; color: black;" class="fw-bolder mt-2" routerLink="/dashboard">Home</a>
         <hr>
         <a style="text-decoration: none; color: black;" class="fw-bolder mt-2" routerLink="/users">Users</a>
         <button (click)="logout()" class="btn btn-danger mt-auto ">Logout</button>
        </div>
        <div class="col-lg-10">
            <div class="row p-3 w-100">
                <div class="col-lg-8">
                    <div style="height: 180px;background-color: #C7C8CC;" class="banned rounded p-3 d-flex align-items-center shadow">
                    <h2 class="fw-bolder text-black "><i (click)="menuBtnClicked()" style="cursor: pointer;" class="fa-solid fa-bars m-3"></i>Welcome {{adminName}}</h2>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-5 border rounded  shadow ">
                        <app-calender></app-calender>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5 border rounded  shadow">
                        <app-chart></app-chart>
                    </div>
                </div>
                </div>
                <div class="col-lg-4">
                    <div style="height: 400px;" class="border rounded p-2  edit-admin shadow ">
                        <app-update-admin (onAdminChange)="onAdminChange($event)"></app-update-admin>
                    </div>
                    <div style="height: 180px;background-color: #C7C8CC;" class="banned rounded p-3 d-flex align-items-center shadow">
                        <h2 class="fw-bolder text-black "><i class="fa-solid fa-users m-3"></i>Employees:{{userCount}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>